[Service]
# We need to be of type "simple" now:
Type=simple

# Clear prior-value:
ExecStart=

# Forward to the outer daemon. This allows us to use groups in the container,
# but ignore the fact that only `root` is actually allowed to connect to the
# socket.
ExecStart=/usr/lib/systemd/systemd-socket-proxyd /var/run/docker.sock.outer

# Add some additional isolation:
PrivateTmp=yes
PrivateNetwork=yes
